.carousel-slides {
  width: 675px;
  height: 335px;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel-slides li {
  position: relative;
  display: none;
}

.carousel img, .carousel a { display: block; }

.active-slide { display: block; }

.carousel-thumbs li {
    display: inline-block;
    float: left;
    padding-left: 11px;
}

.carousel-thumbs li:first-child { padding-left: 0; }

.carousel-thumbs li a {
  position: relative;
  width: 160px;
  height: 80px;
}

.active-slide-thumb a {
  border: 5px solid #0084d9;
}

.active-slide-thumb a img {
  width: 150px;
  height: 70px;
}

.active-slide-thumb a:before {
  position: absolute;
  display: block;
  top: -12px;
  left: 70px;
  content: '';
  width: 12px;
  height: 10px;
  background: url('../images/sprite/blue-tri-up.png') no-repeat;
  z-index: 9999;
}

.carousel-slide-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 15px;
  background-color: rgba(255, 255, 255, .66);
}