// Grid 1000px wide

$container-width: 1000px;
$max-col: 10;

.padding-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 0 auto;
  width: $container-width;
}

.row {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  @extend .clearfix;
}

.row-no-pad {
  padding-left: 0;
  padding-right: 0;
}

@function calc-width($cols-count) {
  @return $container-width / $max-col * $cols-count;
}

.col {
  float: left;
  position: relative;
  @extend .padding-l-r-10;
}

.col-2-10 { width: ( calc-width(2) - 5px ); }

.col-3-10 { width: ( calc-width(3) - 5px ); }

.col-5-10 { width: ( calc-width(5) - 5px ); }

.col-7-10 { width: ( calc-width(7) - 5px ); }

.col-8-10 { width: ( calc-width(8) - 5px ); }

